<div class="bg-white">
  <div class="login-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-4 offset-md-8">
          <div class="login-card">
            <h3 class="mb-4">{{'labels.login' | translate}}</h3>
            <form [formGroup]="user" (ngSubmit)="login()">
              <div class="form-group">
                <mat-form-field class="w-100">
                  <input matInput placeholder="{{'labels.username' | translate}}" type="text" formControlName="username">
                  <span matPrefix class="mr-3">
                    <img src="./assets/images/user.svg" alt="username" width="17" height="17">
                  </span>
                </mat-form-field>
                <div class="text-danger" *ngIf="user.get('username').touched && user.get('username').hasError('required')">
                  {{'validationMsg.usernameEmpty' | translate}}
                </div>
              </div>
              <div class="form-group">
                <mat-form-field class="w-100">
                  <input matInput placeholder="{{'labels.password' | translate}}" type="password" formControlName="password">
                  <span matPrefix class="mr-3">
                    <img src="./assets/images/password.svg" alt="Password" width="17" height="17">
                  </span>
                </mat-form-field>
                <div class="text-danger" *ngIf="user.get('password').touched && user.get('password').hasError('required') ">
                  {{'validationMsg.passwordEmpty' | translate}}
                </div>
                <div class="text-danger" *ngIf="!isValidUser && !user.get('password').hasError('required')">
                  {{'validationMsg.inValidCredentials' | translate}}
                </div>
              </div>
              <div class="card-btm my-4">
                <a href="javascript:void(0);" (click)="onForgotPassword()">
                  <u>{{'labels.forgotPassword' | translate}}</u>
                </a>
                <button type="submit" class="loginBtn" [disabled]="user.invalid || autofill">
                  {{'labels.loginBtn' | translate}}
                  <span style="padding-left:20px">
                    <img src="./assets/images/right-arrow.svg" alt="right-arrow" style="width: 18px;">
                  </span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row align-items-stretch m-t-100">
        <div class="col-sm-12 col-md-4">
          <div class="services-card">
            <h4>{{'labels.OurInsSol' | translate}}</h4>
            <hr>
            <img src="./assets/images/promo1.png">
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="services-card">
            <h4>{{'labels.UAEAutoInsReg' | translate}}</h4>
            <hr>
            <img src="./assets/images/promo2.png">
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="services-card">
            <h4>{{'labels.OurAccelerators' | translate}}</h4>
            <hr>
            <img src="./assets/images/promo3.png">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-between mb-4">
            <small class="text-muted">{{'labels.copyrights' | translate}}</small>
            <small class="text-muted">{{'labels.support&Queries' | translate}}
              <span>
                <a href="#">{{'labels.clickHere' | translate}}</a>
              </span>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>