<ng4-loading-spinner> </ng4-loading-spinner>
<div class="app" dir="{{appDirection}}">
  <div toastContainer></div>
  <app-header></app-header>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>