<nav class="navbar navbar-expand-md navbar-light bg-white fixed-top page-header">
  <a class="navbar-brand border-right ml-3 pr-3">
    <img src="../../../assets/images/logo.png" alt="logo">
  </a>
  <a *ngIf="appService.isUserAuthenticated()" class="navbar-brand">
    <img src='../../../assets/images/company-name.png' height="30">
  </a>
  <button class="navbar-toggler bg-darkOrange" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto d-flex align-items-center">
      <li class="nav-item mr-md-3 my-sm-3 dropdown" *ngIf="appService.isUserAuthenticated()">
        <a href="#" class="nav-link dropdown-toggle" id="globalSearch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="../../../assets/images/search-header.svg" width="26" height="27" alt="search">
        </a>
        <div class="dropdown-menu dropdown-menu-center" aria-labelledby="globalSearch">
          <a class="bg-darkBlue dropdown-item card-header text-white rounded-top" href="#">
            <h5>{{'labels.globalSearch' | translate}}</h5>
          </a>
          <div class="card-body">
            <mat-form-field class="w-100">
              <input matInput type="text" placeholder="{{'labels.enterKeyword' | translate}}">
              <img src="../../../assets/images/search-header.svg" width="26" height="27" matSuffix>
            </mat-form-field>
          </div>
        </div>
      </li>
      <li class="nav-item mx-md-3 mb-sm-2 dropdown beltop" *ngIf="appService.isUserAuthenticated()" (click)="(unread !== 0) ? readAlerts() : log()">
        <a class="nav-link dropdown-toggle" id="alertMsg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="../../../assets/images/notification.png" width="26" height="27" alt="alert">
          <span class="alert-circle" *ngIf="unread !== 0">{{unread}}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-center alerts" aria-labelledby="alertMsg">
          <a class="bg-darkBlue dropdown-item card-header text-white rounded-top" href="javascript:void(0)">
            <h5>{{'labels.recentAlerts' | translate}}</h5>
          </a>
          <div class="card-body">
            <ul class="list-group list-group-flush alerts-list" *ngIf="alerts && alerts.length > 0">
              <li *ngFor="let alert of alerts" class="list-group-item" routerLink="{{alert.route}}" [ngClass]="{ 'unread': !alert.read }">
                <h6 [innerHtml]="alert.baseMessage"></h6>
                <p class="text-muted">{{alert.receivedTime | timeAgo}}</p>
              </li>
            </ul>
            <p *ngIf="!alerts || alerts.length === 0" style="padding-top:5px;margin-bottom:5px;">No new notifications</p>
          </div>
        </div>
      </li>
      <li class="nav-item mx-md-3">
        <a href="javascript:void(0)" class="nav-link">
          <form class="form-inline">
            <div class="selectpicker-container">
              <img src="../../../assets/images/language-header.svg" width="18" height="18" alt="language" matPrefix class="mr-2">
              <select class="selectpicker" data-width="150px">
                <option>English</option>
                <option>Arabic</option>
              </select>
            </div>
          </form>
        </a>
      </li>
      <li class="nav-item mx-md-3" style="padding: 0rem !important" *ngIf="appService.isUserAuthenticated()">
        <a href="javascript:void(0);" class="nav-link">
          <form class="form-inline" *ngIf="(appService.roles && appService.roles.length > 0)">
            <mat-form-field style="width:140px">
              <img src="../../../assets/images/profile-header.svg" width="18" height="18" alt="profile" matPrefix class="mr-2">
              <mat-select [(value)]=appService.roles[0].id (change)="onSelectRole($event, i)">
                <mat-option *ngFor="let role of appService.roles" [(value)]="role.id">
                  {{role.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </a>
      </li>
      <li class="nav-item ml-md-3 dropdown" *ngIf="appService.isUserAuthenticated()">
        <a href="#" class="nav-link dropdown-toggle" id="userProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img *ngIf="userProfilePic" [src]="userProfilePic" alt="User Profile Picture" width="45" height="45">
          <img *ngIf="!userProfilePic" src="../../../assets/images/user.png" alt="User Profile Picture" width="45" height="45">
          <div class="dropdown-menu user-dropdown-before dropdown-menu-right" aria-labelledby="userProfile">
            <a class="bg-darkBlue dropdown-item card-header text-white rounded-top" href="#">
              <div class="d-flex justify-content-start align-items-center">
                <img *ngIf="userProfilePic" [src]="userProfilePic" alt="User Profile Picture" width="70" height="70">
                <img *ngIf="!userProfilePic" src="../../../assets/images/user.png" alt="User Profile Picture" width="70" height="70">
                <div class="ml-4">
                  <h5 class="m-0">{{appService.userData.firstName}} {{appService.userData.lastName}}</h5>
                  <p class="m-0">Last Login</p>
                  <p class="m-0">{{appService.userData.lastLoggedIn | date: 'MMM dd, yyyy hh:mm:ss' }}</p>
                </div>
              </div>
            </a>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item" (click)="manageProfile()">
                  <a>{{'labels.manageProfile' | translate}}</a>
                </li>
                <li class="list-group-item" (click)="changePassword()">
                  <a>{{'labels.changePassword' | translate}}</a>
                </li>
                <li class="list-group-item" (click)="logout()">{{'labels.logout' | translate}}</li>
              </ul>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</nav>