<ng-scrollbar autoHide="true">
  <section class="main-menu">
    <ul>
      <li>
        <a [routerLink]="['dashboard']" [routerLinkActive]="'menu-is-active'" #dashboard="routerLinkActive">
          <img [src]="dashboard.isActive ? './assets/images/dashboard-selected.svg' : './assets/images/dashboard.svg'" class="mb-2"
            width="30" height="31"> {{'labels.dashboard' | translate}}
        </a>
      </li>
      <li>
        <a [routerLink]="['work-basket']" [routerLinkActive]="'menu-is-active'" #workBasket="routerLinkActive">
          <img [src]="workBasket.isActive ? './assets/images/notes-selected.svg' : './assets/images/notes.png'" class="mb-2" width="30"
            height="31"> {{'labels.workBasket' | translate}}
        </a>
      </li>
      <li>
        <a [routerLink]="['claims']" [routerLinkActive]="'menu-is-active'" #claims="routerLinkActive">
          <img [src]="claims.isActive ? './assets/images/documents-selected.svg' : './assets/images/documents.svg'" class="mb-2"
            width="30" height="31"> {{'labels.claims' | translate}}
        </a>
      </li>
      <li>
        <a [routerLink]="['reports']" [routerLinkActive]="'menu-is-active'" #reports="routerLinkActive">
          <img [src]="reports.isActive ? './assets/images/reports-selected.svg' : './assets/images/reports.svg'" class="mb-2" width="30"
            height="31"> {{'labels.reports' | translate}}
        </a>
      </li>
      <li>
        <a [routerLink]="['settings']" [routerLinkActive]="'menu-is-active'" #settings="routerLinkActive">
          <img [src]="settings.isActive ? './assets/images/settings-selected.svg' : './assets/images/settings.svg'" class="mb-2" width="30"
            height="31"> {{'labels.settings' | translate}}
        </a>
      </li>
    </ul>
  </section>
</ng-scrollbar>