.login-card .mat-form-field-underline {
    background-color: $white;
}

.login-card .mat-form-field-ripple {
    background-color: $white;
}

.float-right {
    margin: 0% 4%;
}

.login-card .mat-form-field-label {
    color: $white;
    font-size: 14px;
}

.login-card .mat-checkbox-frame {
    background-color: $white;
    border-color: $white;
}

.login-card .mat-checkbox-layout .mat-checkbox-label {
    color: $white;
    font-size: 14px;
}

.login-card input.mat-input-element {
    font-size: 14px;
    color: #fff;
    font-weight: normal;
}

.mat-form-field {
    text-align: center;
}

.page-header {
    -webkit-box-shadow: 0 3px 12px rgb(230, 228, 228);
    -moz-box-shadow: 0 3px 12px rgb(230, 228, 228);
    box-shadow: 0 3px 12px rgb(230, 228, 228);
    z-index: 9;
    background-color: $white;
    height: 81px;
}

/* Login Module Styles starts here */

.login-bg {
    background-image: url('../images/dubai-image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin-top: 82px;
}

.login-card {
    background-color: $login_card_bg;
    opacity: 0.9;
    border-radius: 16px;
    padding: 25px 44px;
    margin-top: 70px;
    margin-bottom: 50px;
    max-width: 100%;
    overflow: hidden;
}

.login-card h3 {
    font-size: 20px;
    color: #fff;
}

.login-card mat-form-field {
    width: 100%;
    // color: rgb(165, 51, 51);
}

.loginBtn {
    font-size: 14px;
    background-color: $vlight_blue;
    padding: 10px 20px;
    cursor: pointer;
    color: $bondi_blue;
    border: 1px solid $bondi_blue;
    border-radius: 30px;
    font-weight: bold;
}

.loginBtn:disabled {
    cursor: not-allowed;;
    background-color: $silver_light;
}

.login-card mat-checkbox {
    width: 100%;
}

.card-btm {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-btm a {
    color: $white;
    font-size: 14px;
}

.services-card {
    border: 1px solid $service_border;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    
}

.services-card h4 {
    color: $tufts_blue;
    font-weight: bold;
    font-size: 18px;
}

.services-card img {
    width: 100%;
}


.dropdown-toggle:after { content: none }

.dropdown-menu-center {
    padding-top:0; 
    width: 350px;
    right: auto;
    top: 209%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.dropdown-menu-right {
    padding-top:0; 
    width: 350px;
    top: 137%;  
}

.nav-link {
    padding: 0 !important;
}

.place_icon {
    position: relative;
    bottom: -5px;
}

.profileDropdown {
    display: none;
    position: absolute;
}

 .profile-pic {
    position: relative;
 }

 .alerts .card-header h5 {
     font-weight: 400;
 }

.profile-pic > img:hover > .profileDropdown {
    display: block;
    z-index: 500;
}
.alert-circle {
    background:$orange;
    border-radius: 50%;
    padding: 1px 5px;
    font-size: 11px;
    color:  #fff;
    position: absolute;
    left: 13px;
    top: -5px;
}

.dropdown-menu::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 176px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 18px solid $dark_blue;
}

.user-dropdown-before::before {
    content: "";
    position: absolute;
    top: -18px !important;
    right: 9px !important;
    width: 0;
    height: 0;
    left: unset;
    border-left: 15px solid transparent !important;
    border-right: 15px solid transparent !important;
    border-bottom: 18px solid $dark_blue !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: $white;
    text-decoration: none;
    background-color: $light_blue;
}

/* Settings Styles */

.tab-header {
    padding: 15px 20px;
    border-bottom: 1px solid $silver;
    .tab-head {
        font-size: 18px;
        font-weight: 500;
        color: $darker_grey;
    }
    .tab-option {
        color: $light_blue;
        font-size: 14px;
    }
}

@mixin list-container-flex {
    height: 100%;
    display: flex;
    flex-direction: column;
    > .list-content {
        flex: 1;
        overflow: auto;
        > .d-flex { height: 100%; }
    }
}

.list-container {
    background: $white;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6); 
    @include list-container-flex;
}

.detail-container {
    background: $white;
    border: 1px solid $table_border;
    -webkit-box-shadow: 8px 0px 16px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 8px 0px 16px rgba(0, 0, 0, 0.6);
    box-shadow: 8px 0px 16px rgba(0, 0, 0, 0.6); 
}

.logo-section img {
    max-width: 200px;
    max-height: 150px;
}

.status-table .fa-check {
    color: $blue_tick;
}

.section-head {
    font-size: 14px;
    font-weight: 600;
}

.preview-section {
    .form-group {
        label {
            font-size: 14px;
            color: $light_grey;
        }
        .content {
            font-size: 15px;
            font-weight: 500;
            color: $darker_grey;
        }
    }
}

.text-primary {
    color: #0082cb !important;
  }
  
  .is-editable {
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }
    .mat-form-field-label-wrapper {
      overflow: visible;
    }
    .mat-form-field-label {
      top: 10px;
    }
    .mat-form-field-infix {
      width: auto;
      border: 0;
      padding-top: 0;
    }
    .mat-form-field-underline {
      bottom: 0;
    }
    .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
        display: none;
    }
  }
  
  .cell-amount {
    .mat-form-field {
      text-align: right;
    }
  }

/* Outbound styles */
.company-list {
    @include list-container-flex;
    .list-header {
        background-color: $table_bg;
        border-bottom: 1px solid $silver;
        color: $light_grey;
        padding: 15px;
        font-size: 13px;
    }
    .list-content {
        font-size: 13px;
        color: $darker_grey;
        ul {
            list-style: none;
            padding: 0px;
        }
        li {
            padding: 15px;
            border-bottom: 1px solid $silver;
            .list-icon {
                width: 25px;
                display: inline-block;
                img {
                    width: 12px;
                    display: none;
                }
            }
        }
        li.selected {
            background-color: $sel_table_row;
            .list-icon {
                img {
                    display: block;
                }
            }
        }
    }
}

.search-filter {
    color: $search-icon;
    position: relative;
    top: 5px;
}

.filter-section {
    .button-primary {
        font-size: 14px;
    }
    .filter-option {
        width: 140px;
        margin-right: 20px;
    }
}



@mixin status-highlight {
    padding: 5px 15px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 11px;
}

.status-open {
    background-color: $open_bg;
    @include status-highlight;
}

.status-inprogress {
    background-color: $inprogress_bg;
    @include status-highlight;
}

.status-pro-approved {
    background-color: $pro_approved;
    @include status-highlight;
}


.section-title {
    background-color: $sel_table_row;
    padding: 10px;
    font-weight: 500;
    color: $darker_grey;
    margin-bottom: 15px;
    text-transform: uppercase;
}

/* Summary page */

.card-section {
    margin-right: 15px;
    .card-container {
        background-color: $white;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        border: 1px solid $table_border;
        margin: 5px 5px 20px 5px;
        & > .cards-header {
            background-color: $sel_table_row;
            font-size: 16px;
            color: #505050;
            font-weight: 500;
            padding: .75rem 1.25rem;
            margin-bottom: 0;
            border-bottom: 1px solid rgba(0,0,0,.125);
        }
    }
    
    .row.even {
        .card-row {
            background-color: #FAFBFB;
            border-color: #BDCBC8;
            border-style: solid;
            border-width: 1px 0px;
        }
    }
    .card-row {
        padding: .75rem 1.25rem; 
        &.even {
            background-color: #FAFBFB;
        }   
        .label{
            color: #455A64;
            font-size: 13px;
        }
        .input {
            font-size: 14px;
            color: #20292E;
            font-weight: 500;
        }
    }
    .card-hint {
        float: right;
        img {
            width: 12px;
            margin-right: 8px;
        }
    }
}

#accordion {
    .card-container {
        box-shadow: none;
    }
}

.status-hint {
    font-size: 13px;
    color: $light_grey;
}

.status-info {
    color: $darker_grey;
    font-size: 14px;
}


/* Claimant Section */

.collapse-section {
    .card {
        border: 1px solid #BDCBC8;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
        margin: 5px 5px 30px 5px;
    }
    .card-header, .card-link, .card-link:hover { 
        text-align: left;
        color: inherit;
        background-color: #FFFFFF;
        font-size: 16px;
        font-weight: 500;   
    }
    .card-header {
        color: #999;
        padding-left: 40px;
        border-bottom: 1px solid #BDCBC8;
        span {
            font-size: 20px;
            color: $dark;
            position: relative;
            margin-right: 10px;
            top: 3px;
        }
        .fa-circle-thin {
            font-size: 26px;
            color: #999;
        }
        .fa-plus, .fa-minus {
            font-size: 13px;
            position: absolute;
            left: 5.5px;
            top: 4px;
            -webkit-animation: minus 0.5s;
            color: #999;
        }
    }
    .card-body {
        padding: 15px 40px;
        .header-text {
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 10px;
            color: #20292E;
            margin-left: 5px;
        }
    }

    @keyframes minus {
        from {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
        }
    }

    [aria-expanded="false"] {
        color: $light_grey;
        &:hover {
            color: $light_grey !important;
        }
        & > .expanded {
            display: none;
        }
        i {
            color: $light_grey !important;
        }
    }
    [aria-expanded="true"] {
        color: $orange;
        &:hover {
            color: $orange !important;
        }
        & > .collapsed {
            display: none;
        }
        i {
            color: $orange !important;
        }
    }
}

/* 02-07 Alerts section */
.alerts {
    box-shadow: 0px 0px 6px 1px #ddd;
    border-radius: 5px;

    & .card-header h5 {
        margin-bottom: 0px;
    }
}
.alerts .card-body {
    padding:0.25rem 1.5rem;
    max-height: 300px;
    overflow-y: auto;
}
.alerts .alerts-list li {
    padding: 12px 0px;
    cursor: pointer;
    list-style-type: none;

    & h6 {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 2px;
        color: #333;
        font-size: 15px;
    }

    & p {
        font-size: 14px;
        margin-bottom: 0px;
        font-weight: 300;
    }

    & a {
        color: blue;
    }

    &.unread h6 {
        font-weight: 800;
        color: #000;
    }
}
.history-icon {
    display: inline-block;
    padding: 10px 10px 10px 10px;
    background: #fff;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    position: absolute;
    right: 0;
    top: 100px;
    z-index: 20;
}


/* media queries start  here */
@media only screen and (max-device-width: 480px) {
    nav mat-icon {
        font-size: 28px;
        font-weight: normal;
    }  
    .mat-form-field {
        text-align: center;
        // width: 100px !important;
    }

    .page-header .border-right {
        border: none !important;
    }

    .login-card {
        padding: 25px 20px;
        margin-top: 50px;
        margin-bottom: 30px;
    }
}

@media only screen and (max-device-width: 767px) {
    .login-bg {
        margin-top: 58px;
    }
    .login-card {
        max-width: 490px;
        margin-left: auto;
        margin-right: auto;
    }

}

@media only screen and (min-width: 768px) {
    .full-wrapper {
        overflow: hidden;
        height: 100vh;
    }
    .main-wrapper {
        > .container-fluid, .settings-section {
            height: 100%;
        }
        .tab-content, .settings-section {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        .tab-content, .tab-pane, .tab-pane .row,
        .tab-pane .row > [class*='col'] {
            height: calc(100% - 3px);
        }
    }
    .form-group-top {
        flex: 1;
        overflow: auto;
    }
}

.datInput {
    max-height: 1px !important;
    overflow: hidden;
    display: block;
    input {
        width: 0px;
        height: 0px;
    }
}

.file-container {
    padding: 30px 15px;
    border: 3px dashed #ccc;
    max-height: 166px;
    overflow: hidden;
}
.upload-btn {
    padding: 20px 0px 0px;
}
.upload-btnn.btn-block {
    padding: 5px;
    border-radius: 5px;
}
.modal-header.upload-modal {
    box-shadow: 0px 1px 6px -1px #888;
}
.mat-raised-button.td-file-upload {
    cursor: default;
}
.user-upload {   
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}
.response p {
    font-size: 12px;
}
.showCounts {
    border: 1px solid #0082cb;
    background-color: #16a4f744;
    padding: 15px;
    font-size: 16px;
    margin-bottom: 20px;
}
.showCounts p {
    margin: 0;
    line-height: 22px;
    width: 40%;
}
.showCounts p b {
    display: inline-block;
    float: right;
}

/* ================== History ==================== */
.timeline {
    z-index: 999;
    overflow-y: auto;
    height: 87vh;
    overflow-x: hidden;
    padding-bottom: 30px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6); 
}
.timeline-close {
    left: 50px;
    top: 10px;
    background: transparent;
    cursor: pointer;
    color: #fff !important;
    font-size: 24px;
}
.p-3.bg-primary.text-white.mb-2 {
    padding-left: 50px !important;
}
.full-wrapper.history {
    width: 100%;
    position: fixed;
    top: 0;
    display: block;
    background: rgba(255, 255, 255, 0.514);
    z-index: 998;
}

.nav-item {
    .convert-recovery {
        text-transform: capitalize !important;
    }
}
td-file-upload.docu .mat-raised-button.td-file-input {
    background: #fff !important;
    box-shadow: none !important;
}
td-file-upload.docu div {
    min-height: 290px !important;
}

/* ================= Document =================== */
.new-doc {
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
ul.document-ul li.new-doc {
    margin-left: auto;
}
.modal-dialog {
    max-width: 700px;
}
li.beltop {
    cursor: pointer;
}
ul.nav-pills li a {
    cursor: pointer;
}
.m-t-100 {
    margin-top: 100px;
}
.m-w-200 {
    min-width: 200px !important;
}
span.ng-clear {
    display: none !important;
}
.mat-slide-toggle-bar.mat-slide-toggle-bar-no-side-margin, .mat-slide-toggle-thumb {
    cursor: pointer !important;
}
.ng-placeholder {
    font-size: 14px !important;
}
.ng-input input {
    font-size: 15px !important;
    color: #333333 !important;
    font-weight: 500 !important;
}
.text-danger {
    font-size: 13px;
}