body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    min-height: 100%;
    background-color: $white;
}

a {
    color: inherit;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

button {
    cursor: pointer;
}

.btn.focus, .btn:focus {
    box-shadow: none;
}

:focus {
    outline: 0px !important;
}

.full-wrapper {
    display: flex;
    position: relative;
    padding-top: 80px;
    width: 100%;
    overflow: auto;
    background-color: $whisper;
}

 .main-wrapper {
    width: calc(100% - 100px);
 }

 .w-90 {
     width: 90%;
 }

 .custom-label {
     font-size: 14px;
     color: rgba(0, 0, 0, 0.6);
     margin-bottom: 7px;
 }

 /* Bootstrap styles */

 .form-control:focus {
     border-color: #ced4da;
     box-shadow: none !important;
 }

 .bootstrap-custom-select {
     select {
        border: 0px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.42);
        background-color: transparent;
        border-radius: 0px;
        padding-left: 0px;
        &.form-control:focus {
            background-color: transparent;
        }
     }
 }

 .selectpicker-container {
     position: relative;
     img {
        position: absolute;
        left: 0px;
        top: 4px;
     }
     .bootstrap-select {
        border-bottom: 1px solid rgba(0,0,0,.42);
        margin-right: 10px;
        >.btn {
            background-color: transparent;
            padding: 0px 25px 2px 30px;
        }
        .dropdown-toggle:focus {
            outline: 0px !important;
        }
     }
 }

 .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

 .dropdown-menu.show {
     .dropdown-menu {
         display: block;
     }
     .dropdown-menu > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
        &:hover {
            background-color: $whisper;
        }
    }
 }

.table .thead-light {
    th {
        background-color: $table_bg;
        font-size: 14px;
        font-weight: 300;
        color: $darker_grey;
    }
}

.table td {
        font-size: 13px;
        color: $darker_grey;
}

.table td, .table th {
    border-top: 0px;
    border-bottom: 1px solid $bootstrap_table_border;
}

/* Material styles */

/* Input */
.mat-input-placeholder {
    font-size: 14px !important;
}

input.mat-input-element {
    font-size: 15px;
    color: $darker_grey;
    font-weight: 500;
}

.mat-form-field-ripple {
    background-color: $light_blue;
}

.mat-focused .mat-form-field-label {
    color: $light_blue;
}

.mat-form-field-empty.mat-form-field-label {
    top: 24px;
}

.mat-form-field {
    text-align: center;
}

.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.28125em) scale(1) perspective(100px) translateZ(.001px);
}

/* Select Box */
.mat-select {
    font-size: 15px;
}

.mat-select-panel {
    min-width: 100% !important;
    position: relative;
    left: 20px;
}

.mat-select-panel.multi-select {
    left: 40px;
}

/* Checkbox */

.mat-checkbox-inner-container {
    width: 20px !important;
    height: 20px !important;
}

.mat-checkbox-layout {
    margin-bottom: 0;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: $dark_grey;
}

.mat-checkbox-background, .mat-checkbox-frame {
    border-radius: 4px;
}

.mat-radio-button.mat-accent.mat-radio-checked {
    .mat-radio-outer-circle {
        border-color: $light_blue;
    }
    .mat-radio-inner-circle {
        background-color: $light_blue;
    }
}

.mat-radio-button {
    margin-right: 20px;
}

.mat-radio-outer-circle, .mat-radio-inner-circle {
    width: 17px !important;
    height: 17px !important;
}

.mat-radio-ripple {
    display: none;
}

/* Stepper Control */
.mat-horizontal-stepper-header-container {
    background-color: $whisper;
}

.mat-horizontal-content-container {
    background: $white;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    > .list-content {
        flex: 1;
        overflow: auto;
        > .d-flex { height: 100%; }
    }
}

.mat-stepper-horizontal {
    background-color: #eee;
}

.mat-horizontal-stepper-header-container {
    max-width: 600px;
    margin: 0 auto;
    .mat-horizontal-stepper-header {
        flex-direction: column;
        &:not(:last-child) {
            &::after {
                content: "";
                position: absolute;
                width: 50%;
                top: 50%;
                left: 50%;
                border-width: 4px 0 0;
                border-top-color: #fff;
                border-style: solid;
                transform: translateY(-50%);
            }
        }
        &:not(:first-child) {
            &::before {
                content: "";
                position: absolute;
                width: 50%;
                top: 50%;
                left: 0;
                border-width: 4px 0 0;
                border-top-color: #fff;
                border-style: solid;
                transform: translateY(-50%);
            }
        }
        .mat-step-label {
            text-transform: uppercase;
            &.mat-step-label-active {
                color: #999;
            }
            &.mat-step-label-selected {
                color: #FF5200;
            }
        }
        [class*='mat-step-icon'] {
            background: #fff;
            color: #999;
            margin: 4px 0 0 !important;
            order: 1;
            position: relative;
            z-index: 1;
        }
        .mat-step-icon {
            border: 1px solid #FF5200;
            color: #FF5200;
        }

    }
    mat-step-header[ng-reflect-state="edit"] {
        .mat-step-label.mat-step-label-active {
            color: $light_blue;
        }
        .mat-step-icon {
            border: 1px solid $light_blue;
            color: $light_blue;
        }
        &:not(:last-child) {
            &::after {
                content: "";
                border-top-color: $light_blue !important;
            }
        }
        + .mat-stepper-horizontal-line {
            border-top-color: $light_blue !important;
            + mat-step-header {
                &::before {
                    border-top-color: $light_blue !important;
                }
            }
        }

    }

    .mat-stepper-horizontal-line {
        border-top-width: 4px;
        border-top-color: #fff;
    }
}

/* Tables */
.ngx-datatable {
    .empty-row {
        display: none;
    }
}

.ngx-datatable.material {
    box-shadow: none;
    .link-text {
        color: $light_blue;
        font-size: 13px;
        &:hover {
            color: $light_blue;
        }
    }
}

.ngx-datatable.material .datatable-header {
    background-color: $table_bg;
    border-bottom: 0px;
}

.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell, .table thead th {
    border-right-width: 1px;
    border-right-style: solid;
    -webkit-border-image: -webkit-linear-gradient($white, $silver_Vlight) 1 100%;
    -moz-border-image: -moz-linear-gradient($white, $silver_Vlight) 1 100%;
    -o-border-image: -o-linear-gradient($white, $silver_Vlight) 1 100%;
    border-image: linear-gradient(to bottom, $white, $silver_Vlight) 1 100%;
}

.ngx-datatable.material.company-tab.single-selection .datatable-body-row.active:hover .datatable-row-group,
.ngx-datatable.material.company-tab.single-selection .datatable-body-row.active .datatable-row-group,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active:hover .datatable-row-group,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group {
    background-image: url('./../images/tick-orange.svg');
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 10px;
    border-left: 3px solid $sel_table_row !important;
    transition: none;
    transform: none;
}

.ngx-datatable.material.single-selection .datatable-body-row.active:hover .datatable-row-group,
.ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active:hover .datatable-row-group,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group {
    background-color: $sel_table_row !important;
    border-left: 3px solid $orange;
}

.datatable-row-right.datatable-row-group {
    transform: none !important;
}

.ngx-datatable .datatable-row-center, .ngx-datatable .datatable-row-group{
    border-left: 3px solid transparent;
    border-bottom: 1px solid $bootstrap_table_border;
}

.ngx-datatable.material {
  .datatable-body {
    .datatable-body-cell {
        padding: 10px !important;
        font-size: 13px !important;
        font-weight: 500 !important;
        color: #333;
        cursor: pointer;
    }
  }
}

.ngx-datatable.material.company-tab {
    .datatable-body {
        .datatable-body-cell {
            padding-left: 40px !important;
        }
      }
}

.ngx-datatable.material .datatable-footer .datatable-pager .pager {
    background: linear-gradient($white, #FAFAFA, #F3F3F3);
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    border-radius: 22px;
    li {
        border-right-width: 1px;
        border-right-style: solid;
        -webkit-border-image: -webkit-linear-gradient(#F3F3F3, #DDDDDD) 1 100%;
        -moz-border-image: -moz-linear-gradient(#F3F3F3, #DDDDDD) 1 100%;
        -o-border-image: -o-linear-gradient(#F3F3F3, #DDDDDD) 1 100%;
        border-image: linear-gradient(to bottom, #F3F3F3, #DDDDDD) 1 100%;
        &:last-child {
            border-right-width: 0px;
        }
    }
    li.active {
        a {
            background-color: transparent;
            color: $orange;
        }
    }
}

.ngx-datatable.material .datatable-footer {
    border-top: 0px;
}

.table-inline-content {
    margin-right: 10px;
    text-align: left;
}

/* Fancy image uploader */
fancy-image-uploader {
    width: 100% !important;
}


/* Common styles */

.beltop {
    margin-top: 5px;
}

.fontSize14 {
    font-size: 14px;
}


.bg-white {
    background-color: $white;
}

.bg-darkOrange {
    background-color: $orange;
}

.bg-darkBlue {
    background-color: $dark_blue;
}

.bg-whisper {
    background-color: $whisper;
}

.opacity-50 {
    opacity: 0.5;
}

.color-lightBlue {
    color: $light_blue;
}

.color-darkGrey {
    color: $dark_grey !important;
}

.color-black {
    color: $dark;
}

button:focus {
    outline: none;
}
@mixin button-disabled  {
    background-color: $silver_light;
    border: 1px solid transparent;
    color: $white;
    text-transform: uppercase;
     &:hover {
        color: $white;
    }
}

.button-primary.button-blue {
    border-color: $light_blue;
    color: $light_blue;
    text-transform: uppercase;
    -webkit-box-shadow: 0 3px 6px rgba(191, 191, 191, 0.8);
    -moz-box-shadow: 0 3px 6px rgba(191, 191, 191, 0.8);
    box-shadow: 0 3px 6px rgba(191, 191, 191, 0.8);
    &:hover {
        color: $light_blue;
    }
}

.button-primary.button-blue-filled {
    border-color: $light_blue;
    color: $white;
    background-color: $blue_tick;
    text-transform: uppercase;
    -webkit-box-shadow: 0 3px 6px rgba(191, 191, 191, 0.8);
    -moz-box-shadow: 0 3px 6px rgba(191, 191, 191, 0.8);
    box-shadow: 0 3px 6px rgba(191, 191, 191, 0.8);
    &:hover {
        color: $white !important;
    }
    &:disabled {
        @include button-disabled;
    }
}

.button-primary.button-grey-filled {
    background-color: #cbcbcb;
    color: #fff;
}
.button-grey-filled {
    a{
        color: #666 !important;
    }
  
}
.button-red-filled{
    background-color: transparent;
    color: #FF5200; 
    a {
        border-color: inherit;
    }
}
p:last-child {
    border-right:none;
    border-right-width: 0; 
    }
/* Common Modal Component*/

.fade.in {
    opacity: 1;
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-backdrop .fade .in {
    opacity: 0.5 !important;
}

.modal-backdrop.fade {
    opacity: 0.5 !important;
}

@mixin modal-container {
    display: flex;
    align-items: center;
    height: 100%;
    .modal-container {
        border: 2px solid $dark;
        border-radius: 5px;
    }
    .modal-content {
        margin: 0 auto;
        font-size: 16px;
        -webkit-box-shadow: 2px 2px 25px 0px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 2px 2px 25px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 2px 2px 25px 0px rgba(0, 0, 0, 0.35);
    }
    .modal-header {
        padding: 15px 20px;
        border-bottom: 0px;
    }
    .modal-title {
        font-size: 20px;
        color: $dark;
        font-weight: bold;
        margin-bottom: 6px;
    }
    .modal-body {
        padding: 10px 20px;
        font-size: 14px;
    }
    .modal-footer {
        padding: 20px;
    }
}

/* Accout Popups */
.common-modal {
    @include modal-container;
    .modal-content {
        max-width: 600px;
    }
}
.change-password-modal {
   @include modal-container;
    .modal-content {
        max-width: 800px;
    }
    .modal-footer {
        border-top: 0px;
    }
}

#changePasswordComponent {
    .notes {
        background-color: $whisper;
        padding: 10px;
        border-radius: 5px;
    }
}

/* Alerts */

.success-alert {
    background-color: $success_alert_bg;
    color: $darker_grey;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    margin-bottom: 5px;
    border-bottom: 1px solid $silver;
    img {
        padding-right: 10px;
        width: 30px;
    }
}

/* Menu Styles */

.main-menu, app-menu {
    width: 100px;
    background-color: $white;
    overflow: auto;
    ul {
        list-style: none;
        margin: 0;
        padding: 10px;
        text-align: center;
        color: $light_grey;
        font-size: 12px;
        li {
            padding: 20px 0;
            &:last-child {
                padding-bottom: 20px;
            }
            a {
                color: $light_grey;
                &:hover {
                    color: inherit;
                }
            }
        }
        i {
            font-size: 28px;
            display: block;
            margin-bottom: 5px;
        }

        img {
            display: block;
            margin: 0 auto;
        }

    }
    .menu-is-active {
        color: $orange;
        &:hover {
            color: $orange;
        }
    }
}

app-menu {
    -webkit-box-shadow: 0px 3px 12px -3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 3px 12px -3px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 3px 12px -3px rgba(0, 0, 0, 0.4);
}

/* Button Styles */

@mixin button-primary-common {
    display: block;
    background-color: $white;
    padding: 8px 35px;
    text-align: center;
    border-radius: 22px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-right: 20px;
    margin-bottom: 10px;
}
.button-primary {
  @include button-primary-common;
  color: $dark_grey;
  border: 1px solid #C8C8C8;
  padding: 7px 24px;
  &:not([disabled]):hover {
      color: $dark_grey;
  }
  &[disabled] {
      cursor: not-allowed;
  }
  &.active {
    color: $orange;
    border: 1px solid $orange;
    &:hover {
      color: $orange;
    }
  }
}

/* Breadcrumb */

 .breadcrumb {
     padding: 0;
     margin: 0;
     font-size: 16px;
     background-color: inherit;
     a {
         color: $light_blue;
     }
 }

 .breadcrumb-item + .breadcrumb-item {
     &:before {
         content: '>';
     }
 }

 .breadcrumb-item.active {
     color: $dark_grey;
 }


@media only screen and (min-width: 768px) {
    .full-wrapper {
        overflow: hidden;
        height: 100vh;
    }
    .main-wrapper {
        > .container-fluid, .settings-section {
            height: 100%;
        }
        .tab-content, .settings-section {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        .tab-content, .tab-pane, .tab-pane .row,
        .tab-pane .row > [class*='col'] {
            height: calc(100% - 3px);
        }
    }
    .form-group-top {
        flex: 1;
        overflow: auto;
    }
}

.table td {
    font-weight: 500;
}

/* File Upload */

td-file-upload {
    .mat-raised-button {
        &.td-file-input,
        &.td-file-upload {
            width: 100%;
            height: 100px;
            background: #f0efef;
            color: #888;
            box-shadow: none;
        }
    }

    .mat-icon-button.td-file-upload-cancel {
        top: -120px;
        left: 95%;
    }
}

.ui-mat-select {
  .mat-form-field-prefix {
    margin-right: .25em;
  }
  .mat-form-field-flex {
    align-items: center;
  }
  .mat-form-field-infix {
    border: 0;
  }
}

.ui-mat-card {
  .mat-card-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
  }
  .mat-card-header {
    border-bottom: 2px solid #e2e2e2;
    align-items: center;
  }
  .mat-card-header-text {
    flex: 1;
    margin: 0;
  }
  .mat-card-actions {
    margin: 0;
    padding: 0;
    font-size: 14px;
  }

  .mat-card-footer {
    color: #ccc;
  }

  .ngx-datatable.has-footer {
    > .visible {
      height: 100%;
      display: flex;
      flex-direction: column;

      .datatable-body {
        flex: 1;
      }
    }
  }

  .ngx-datatable.material.single-selection {

    .datatable-body-row,
    .datatable-body-row:hover {
      .datatable-row-group {
        border-left-width: 1px;
      }
      &.active,
      &.active:hover {
        .datatable-row-group {
          background-color: #eee !important;
        }
      }
    }
  }
//   .ngx-datatable.material.multi-selection {

//     .datatable-body-row,
//     .datatable-body-row:hover {
//       .datatable-row-group {
//         border-left-width: 1px;
//       }
//       &.active,
//       &.active:hover {
//         .datatable-row-group {
//           background-color: #eee !important;
//         }
//       }
//     }
//   }
}

.ui-switch {
  display: flex;
  flex-direction: row;
  span:first-of-type {
    order: -1;
    font-weight: 500;
  }
  .ui-mat-slide-toggle {
    margin: 0 .5em;
    &.mat-checked {
      & ~ span {
        font-weight: 400;
        &:last-of-type {
          font-weight: 500;
        }
      }
    }
  }
}

.ui-taginput {
  margin-top: -6px;
  .ng2-tag-input {
    padding: 0 !important;
    border: 0 !important;
  }
  .ng2-tags-container {
    .ng2-tag-input__text-input {
      height: 32px;
    }
    tag {
      margin-top: 0;
      margin-bottom: .5rem;
      font-size: .875rem;
      height: 28px;
      line-height: 30px;
      delete-icon {
        margin-top: -2px;
      }
    }
  }
}

.ui-table {
  thead.thead-light {
    th {
      font-size: 13px;
      font-weight: 400;
      color: #667;
    }
  }
  tbody {
    td {
      padding: 10px !important;
      font-size: 13px !important;
      font-weight: 500 !important;
    }
  }
}


.border-right-image {
  border-right-width: 1px;
  border-right-style: solid;
  border-image: linear-gradient(to bottom, $white, $silver_Vlight) 1 100%;
}
// .border-right-image {
//     border-right-width: 1px;
//     border-right-style: solid;
//     border-image: linear-gradient(to bottom, $white, $silver_Vlight) 1 100%;
//   }

.button-primary {
  &.btn-sm {
    font-size: 14px;
    padding: 6px 18px;
    margin-right: 12px;
  }
}

.badge {
  font-size: 87.5%;
  text-transform: uppercase;
  padding: .5em 1.25em;
  &.badge-light {
    background-color: #f1f1f1;
  }
  &.badge-warning {
    background-color: #fbe9c1;
  }
}

.text-grey-900 {
  color: #333 !important;
}

.text-grey-500 {
  color: #999 !important;
}

.text-blue-700 {
  color: #0082CB !important;
}

.font-weight-medium {
  font-weight: 500 !important;
}

.chart-legend {
  position: relative;
  font-size: .875rem;
  padding-left: .75em;
  @extend .text-grey-500;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    margin-top: -3px;
    display: inline-block;
    vertical-align: middle;
  }
  &.is-receivable {
    &::before {
      background-color: #2dc163;
    }
  }
  &.is-payable {
    &::before {
      background-color: #f7a800;
    }
  }

  &.summary-approved {
    &::before {
      background-color: rgba(44, 193, 100, 1);
    }
  }
  &.summary-dispute {
    &::before {
      background-color: rgba(124, 47, 128, 1);
    }
  }
  &.summary-total {
    &::before {
      background-color: rgba(0, 130, 203, 1);
    }
  }
.datatable-overflow .ngx-datatable .datatable-header {
    overflow: visible !important;
}
}
.left-arrow{
    transform: rotate(180deg);
}
.chart-class{
    display: block;
    width:100vw;
    height:100vh;
}
.chart-arrow-margin{
    margin-right: 20px;
    margin-top: 1px;
}
.mar0{
    margin-right:10px;
    margin-left:10px;
}
.reg-dash-txt{
    font-size: 20px;
    font-weight: bold;
    color: #333;
}
.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell:last-child{
    border:none;
}
.chart-container {
    position: relative;
    width: 100%;
  }
  .chart-container-recovery,.chart-container-insurer,.chart-reg-ins-summary{
    max-height: 232px;
 }
 .chart-container-summary{
     max-height: 280px;
 }
 
  .button-bottom-grey-filled {
    color: #A3A3A3;
    border-bottom: none;
    
}
.button-bottom-red-filled{
    background-color: transparent;
    color: #FF5200; 
    border-bottom: 3px solid #FF5200;
 
}
.pad10{
    padding:17px 0px;
    margin:0px 16px;
}
.font14{
    font-size:14px;
    font-weight: normal;
}
regulator-dashboard .ui-mat-card .mat-card-title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    color: #333333;
}
.search-icon{
    color:#999999
}
inoutbound-summary .ngx-datatable.material .datatable-header .datatable-header-cell {
    padding: .5rem 0.5rem;
}
.search-input{
    width:80%;
    background:#F7F8FC;
    border: none;
    color:#999999;
    font-size:13px
}
inoutbound-summary .ngx-datatable.material .datatable-footer .page-count{
  padding:0 0 0 0.5rem;
}
.summary-footer .ngx-datatable.material .datatable-header{
height:0px !important;
border-top:1px solid #DEE1E2;
}
.bg-grey {
    background-color: #eee;
}
.inbound-summary-footer .ui-mat-card .mat-card-title{
    font-size: 13px;
    color: #999999;
    font-weight: normal;
}

.timeline {
    width: 538px;
    position: fixed;
    top: 58px;
    right: 0;
    transform: translate3d(150%, 0, 0);
    transition: all .4s ease-in-out;

    &.is-open {
        transform: translate3d(0,0,0);
    }
}

.timeline-close {
    color: #fff;
    font-size: 2em;
    background: #014165;
    border-radius: 20px 0px 0px 20px;
    position: absolute;
    left: 0;
    top: 1em;
    transform: translateX(-100%);
    padding: 0 20px;
}

.timeline-path {
    position: relative;
    color: #333;
    z-index: 2;
    > div {
        position: relative;
        z-index: 3;
    }
    &:before,
    &:after {
        content: "";
        position: absolute;
        background: #999;
    }

    &.to-bottom {
        margin-bottom: 3rem;
        &:after {
            height: 50%;
            left: 50%;
            top: 100%;
            width: 1px;
        }
    }
    
    &.to-right {
        &:before {
            left: 50%;
            width: 100%;
            top: 50%;
            height: 1px;
            transform: translateY(-50%);
        }
    
        &:after {
            left: 150%;
            height: 100%;
            width: 1px;
            top: 50%;
        }
    }
    
    &.to-left {
        &:before {
            left: -50%;
            width: 100%;
            height: 1px;
            top: 50%;
            transform: translateY(-50%);
        }
    
        &:after {
            left: -50%;
            height: 100%;
            width: 1px;
            top: 50%;
        }
    }

    .arrow {
        position: absolute;
        left: 50%;
        top: -.5em;
        transform: translateX(-50%);
        width: .5em;
        height: .5em;
        border-color: #999 transparent transparent;
        border-style: solid;
        border-width: .5em;
    }
}
.mar-dboard-5{
    margin-right:5px;
    margin-left:5px;
}
.height350{
    height:350px;
}

.form-group {
    .profile-pic {
        color: #888;
        font-family: Roboto,"Helvetica Neue",sans-serif;
        font-size: 14px;
        font-weight: 400;
        .constrain{
            font-weight: 300;
        }
    }

}

.ng2-tag-input__text-input::-webkit-input-placeholder{
    color: $light_blue !important;
}

regulator-dashboard .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar, 
dashboard .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar,
claims-receivable .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar,
claims-payable .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar,
dashboard .mat-slide-toggle-bar.mat-slide-toggle-bar-no-side-margin,
regulator-dashboard .mat-slide-toggle-bar.mat-slide-toggle-bar-no-side-margin,
claims-receivable .mat-slide-toggle-bar.mat-slide-toggle-bar-no-side-margin,
claims-payable .mat-slide-toggle-bar.mat-slide-toggle-bar-no-side-margin{
    background-color:rgba(255, 82, 0,0.5); 
}
regulator-dashboard .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb, 
dashboard .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb,
claims-receivable .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb,
claims-payable .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb,
dashboard .mat-slide-toggle-bar, .mat-slide-toggle-thumb,
regulator-dashboard .mat-slide-toggle-bar, .mat-slide-toggle-thumb,
claims-receivable .mat-slide-toggle-bar, .mat-slide-toggle-thumb,
claims-payable .mat-slide-toggle-bar, .mat-slide-toggle-thumb {
    background-color:#FF5200; 
 }

app-login input:-webkit-autofill {
    box-shadow: 0 0 0 1000px #031D37 inset;
    -webkit-box-shadow: 0 0 0 1000px#031D37 inset;
    -webkit-text-fill-color: #fff;
}