$white: #FFFFFF;
$dark: #000000;
$whisper: #EEEEEE;
$silver: #C5C5C5;
$silver_Vlight: #C1C1C1;
$silver_light: #C0C0C0;
$light_grey: #999999;
$dark_grey: #666666;
$darker_grey: #333333;
$bondi_blue: #052E38;
$light_blue: #0082CB; 
$vlight_blue: #12D1FF;
$tufts_blue:#4586D6;
$dark_blue: #0083C0;
$orange: #FF5200;

$table_bg: #F7F8FC;
$success_alert_bg: #E8F6F2;
$login_card_bg: #031D37;
$table_border: #D9D9D9;
$blue_tick: #2F97D1;
$sel_table_row: #DFEEF7; 
$bootstrap_table_border:#dee2e6;
$service_border: #E0DCDC;
$search-icon: #A3A3A3;

/* Status Backgrounds */
$open_bg: #F1F1F1;
$inprogress_bg: #FBE9C1;
$pro_approved: #D4F2E0;

