<div class="full-wrapper">
  <app-menu></app-menu>
  <section class="main-wrapper pt-4 pl-2 row-eq-height">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </section>
</div>